@charset "utf-8";
/* topper bar */
.topper{
	position: relative;
	width: 100%;
	height: 2.5rem;
	background: #40205f;
	opacity: 0.97;
}

.marquee {
	background-color: rgba(0, 0, 0, 0);
	width: 40%;
	overflow: hidden;
	margin-left: 37%;
}

.marquee>.inner {
	margin-top: 0.5rem;
	position: relative;
	width: 100%;
	display: flex;
	color: white;
	font-size: 1rem;
	font-weight: bold;
}

.marquee .inner>* {
	white-space: nowrap;
	padding: 0 4rem;
}

.go-english {
	display: flex;
	background-color: white;
	margin-left: 3%;
	width: 18%;
	margin-top: 0.35em;
	margin-bottom: 0.35em;
	border-radius: 2px;
	align-items: center;
	justify-content: center;
}

.go-english h4{
	color: black;
	font-size: 1.2em;
}

.go-english:hover {
	background-color: #40205f;
	margin-left: 3%;
	width: 18%;
	margin-top: 0.35em;
	margin-bottom: 0.35em;
	border-radius: 2px;
	border: 2px white solid;
}

.go-english:hover h4{
	color: #fff;
}

.acc-logo {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-left: 3%;
	flex: 4 1 100%;
	margin-right: 10%;
}

/* img background #5F178D */
.acc-logo img {
	position: relative;
	width: 3em;
	margin-right: 0.25em;
}

.acc-brand {
	text-align: center;
	white-space: nowrap;
	padding-top: 0.5em;
}

.acc-brand>h2 {
	padding-bottom: 0.3em;
	color: black;
	text-shadow: lightgrey 1px 1px;
}

.acc-brand>small {
	border-top: 0.15em #40205f solid;
	padding-top: 0.2em;
	font-size: 1em;
	color: black;
	text-shadow: lightgrey 1px 1px;
	
}


.topmenu {
	position: relative;	
	display: flex;
}

.bar-option-home{
	width: 7.5rem; 
	padding: 0.8em 1em 2em 1em;
	border-top:0.3em solid black;
	height: 4rem;
	text-align: center; /* 居中文字 */
	cursor: pointer;
	position: relative;
}

.bar-option{
	padding: 1em;
	border-top:0.3em solid black;
	width: 12rem; /* 固定宽度 */
	height: 4rem;
	text-align: center; /* 居中文字 */
	cursor: pointer;
	position: relative;
}

.bar-option>h1{
	font-size: 1.4rem;
}

.bar-option:hover{
	background: rgba(34, 34, 34, 0.95);
	color: white;
}

.dropdown{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 0px;
	z-index: 10;
	width: 100%;	
	text-align: center;
	/* background-color: #381c53; */
	background: -webkit-linear-gradient(top, #222222, #2e1442);
	background: -moz-linear-gradient(top, #222222, #2e1442);
	opacity: 0.95;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
	/* padding: 1em 0; */
}

.dropdown a {
	color: white;
	height: 4rem;	
	padding-top: 1rem;
	text-decoration: none;
	font-size: 1.1rem;
	display: block;
}

.dropdown a:hover{
	text-decoration-line:underline;
	text-underline-offset: 0.4em; 
	text-decoration-thickness: 0.15em;
} 

#cellnavicon{
	display: none;
	position: absolute;
	top: 3rem;
	right: 5%;
	cursor: pointer;
}

#cellnavicon span{
	font-size: 4rem;
	margin: 0px;
	padding: 0px;
}

#cellnavwrapper {
	background-color: #40205f; /* Dark purple background */
	opacity: 0.97;
	color: white; /* White text */
	padding: 0px;
	top: 0px;
	width: 60%;
	box-sizing: border-box; /* Include padding in the width */
	position: fixed;
	right: -100%; /* Initial position off-screen */
	height: 100%;
	overflow-y: auto;
	transition: right 0.8s ease; /* Transition effect */
	z-index: 999; /* Ensure the nav is below the cellnavicon */
}
	
/* Display the nav when the show class is added */
#cellnavwrapper.show {
	right: 0;
}

.cellnav-line {
    border-bottom: 1px solid white;
    padding: 10px;
}

.cellnav-line:hover {
    background: -webkit-linear-gradient(top, #222222, #2e1442);
    background: -moz-linear-gradient(top, #222222, #2e1442);
}

.cellnav-line>a{
	font-size: 1.4rem;
	padding: 1.3rem;
}

.cellnav-suburl {
    display: none;
}

.cellnav-suburl>li {
    list-style-type: none; /* 去掉子菜单项的圆点 */
	font-size:1.1rem;
	padding: 1rem 0rem 0rem 3rem;
}

.cellnav-line:last-child {
    border-bottom: none;
}

.cellnav-line:hover .cellnav-suburl {
    display: block;
}

.cellnav-line a {
    color: white; 
    text-decoration: none;
}

.cellnav-suburl a:hover {
    text-decoration: underline;
	text-underline-offset: 0.4em;
	text-decoration-thickness: 0.15em;
}



